@charset 'utf-8';

@use "sass:math";
@use "sass:selector";
@use 'common/' as *;

@import url('./reset.css');

$mobile-width : 1024px;
@mixin mobile  ($media : false){
    @media screen and (max-width: #{$mobile-width})   {
        @content;
    }
} 
$mobile-sm-width : 500px;
@mixin mobile-sm  ($media : false){
    @media screen and (max-width: #{$mobile-sm-width})   {
        @content;
    }
} 
$mobile-exsm-width : 375px;
@mixin mobile-exsm  ($media : false){
    @media screen and (max-width: #{$mobile-exsm-width})   {
        @content;
    }
} 

:root {
    font-size: rem(16);
    --gap-size: 4rem;
     
    --white: #fff;
    --black: #000;
    --black111 : #111;
    --gray-100: #EDEDED;
    --gray-200: #D1D1D1;
    --gray-400: #9E9E9E;
    --gray-600: #666666;
    --gray-700: #777777;
    --gray-800: #ccc;
    --blue    : #4452FD;
    --navy    : #252B7E;
    --yellow  : #FEEB6B;

    --scroll-bar-color: #959594;
    --height-100vh: 100vh;

    --font-300 : 'Pretendard-Regular', sans-serif;
    --font-400 : 'Pretendard-Regular', sans-serif;
    --font-500 : 'Pretendard-Medium', sans-serif;
    --font-600 : 'Pretendard-Medium', sans-serif;
    --font-700 : 'Pretendard-Bold', sans-serif;
    --font-900 : 'Pretendard-ExtraBold', sans-serif;
    --font-mon-300 : 'Montserrat-Thin', sans-serif;
    --font-mon-500 : 'Montserrat-Regular', sans-serif;
    --font-mon-900 : 'Montserrat-ExtraBold', sans-serif;

    // @include mobile() {
    //     font-size: vw(14, 750);
    // }
    // @include mobile-sm() {
    //     font-size: vw(13, 500);
    // }
}

html,body {
    background-color: var(--black);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 20px;
}

.logo {
    color: var(--white);
    font-family: var(--font-mon-900);
    font-size: rem(36);
    position: absolute;
    top: rem(45);
    left: 10%;
    z-index: 999;
    @include mobile() {
        left: rem(24);
        font-size: rem(24);
    }
    @include mobile-sm() {
        left: rem(24);
        font-size: rem(24);
    }
    span {
        @include txtStrok;
        @include mobile-sm() {
            @include txtStrok-mo-sm;
        }
    }
}
.total-menu {
    position: absolute;
    right: 10%;
    top: rem(45);
    z-index: 9999;
    @include mobile() {
        right: rem(24);
        top: rem(40);
    }
    @include mobile-sm() {
        right: rem(24);
        top: rem(45);
    }
    
    a.total-menu-alink {
        width: rem(60);
        height: rem(60);
        position: relative;
        display: block;
        @include mobile-sm() {
            width: rem(26);
            height: rem(26);
        }
        .line {
            height: 4px;
            background-color: var(--white);
            position: absolute;
            top: rem(18);
            left: rem(10);
            right: rem(10);
            transition: all 0.5s;
            @include mobile-sm() {
                height: 2px;
                top: rem(8);
                left: rem(5);
                right: rem(5);
            }
            &.bottom {
                height: 4px;
                background-color: var(--white);
                position: absolute;
                bottom: rem(18);
                top: auto;
                @include mobile-sm() {
                    height: 2px;
                    bottom: rem(8);
                }
            }
        }
        span {
            @include txt-hidden;
        }
    }
    .total-menu-cont {
        background: var(--white);
        height: 100vh;
        width: 0vw;
        transform: scaleX(0);
        position: fixed;
        left:0;
        top:0;
        opacity: 0;
        transition: all 0.5s;
        overflow: hidden;
        z-index: 999;
        &.fade{
            animation: totalMenu 1s ease-in-out forwards;
            //transform: scaleX(1);
        }
        &.revers {
            animation: totalMenu2 1s ease-in-out forwards;
        }
        .total-menu-list {
            position: absolute;
            left: 200px;
            top: 50%;
            transform: translateY(-50%);
            width: 550px;

            @include mobile() {
                left: 24px;
                top: 120px;
                transform: translateY(0);
            }
            @include mobile-sm() {
                left: 24px;
                top: 15vh;
                transform: translateY(0);
            }
            .menu-list-box{
                height: 120px;
                overflow:hidden;
                @include mobile() {
                    height: 50px;
                }
                @include mobile-sm() {
                    height: 50px
                    
                }
                &+.menu-list-box {
                    margin-top: 60px;
                    @include mobile() {
                        margin-top: 30px;
                    }
                    @include mobile-sm() {
                        margin-top: 30px;
                        
                    }
                }
                .menu-alink {
                    display: inline-block;
                    font-size: rem(100);
                    font-family: var(--font-900);
                    position: relative;
                    transform: translateY(120px);
                    
                    &.up {
                        transform: translateY(0);
                        transition: transform 0.7s ease-in-out;
                    }
                    &.over:before {
                        content:'';
                        display: block;
                        height: 12px;
                        width: 0;
                        background: linear-gradient(90deg, rgb(97, 58, 255) 0%, rgb(209, 102, 255) 100%);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        animation: lineAni 0.5s ease-in-out  forwards;
                    }
                    &.out:before {
                        content:'';
                        display: block;
                        height: 12px;
                        width: 100%;
                        background: linear-gradient(90deg, rgb(97, 58, 255) 0%, rgb(209, 102, 255) 100%);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        animation: lineAniReverse 0.5s ease-in-out  forwards;
                    }
    
                    @keyframes lineAni {
                        0% { width: 0; }
                        100% { width: 100%;}
                    }
                    @keyframes lineAniReverse {
                        0% { width: 100%; }
                        100% { width: 0%;}
                    }
                    @include mobile-sm() {
                        font-size: rem(40);
                    }
                    span {
                        span {
                            opacity: 0;
                        }
                    }
                    & + .menu-alink {
                        margin-top: 60px;
                    }
                }
            }
            
        }
        .total-menu-info {
            position: absolute;
            left:970px;
            top: 230px;
            @include mobile() {
                left: 24px;
                top: 500px;
            }
            @include mobile-sm() {
                left: 24px;
                top: 50vh;
            }
            .total-info-item{
                & + .total-info-item{
                    margin-top: 32px;
                }
                .total-info-title {
                    font-size: rem(16);
                    color: var(--gray-700);
                    font-family: var(--font-500);
                    @include mobile() {
                        font-size: rem(13);
                    }
                    @include mobile-sm() {
                        font-size: rem(13);
                    }
                }
                .total-info-cont {
                    font-size: rem(30);
                    color: var(--black111);
                    font-family: var(--font-500);
                    line-height: 1.2;
                    margin-top: 6px;
                    @include mobile() {
                        font-size: rem(18);
                    }
                    @include mobile-sm() {
                        font-size: rem(18);
                    }
                }
            }

            
        }
        
        .close {
            width: 50px;
            height: 50px;
            opacity: 0.8;
            position: absolute;
            right: 10%;
            top: rem(47);
            @include mobile() {
                right: 24px;
            }
            @include mobile-sm() {
                right: 24px;
            }
            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 40px;
                width: 2px;
                background-color: #000;
              }
              &:before {
                transform: rotate(45deg);
                display: block;
              }
              &:after {
                transform: rotate(-45deg);
                display: block;
              }
        }
    }

    @keyframes totalMenu {
        0% { width: 0vw; opacity: 0; }
        10% { width: 10vw; left: calc(50% - 50px) ; transform: scaleX(0.05); opacity: 0; }
        20% { opacity: 1; }
        40% { opacity: 1; width: 10vw; left: calc(50% - 50px) ; transform: scaleX(0.05); }
        100% { width: 100vw; transform: scaleX(1); opacity: 1; }
    }
    @keyframes totalMenu2 {
        0% { width: 100vw; transform: scaleX(1); opacity: 1; }
        60% { opacity: 1; width: 10vw; left: calc(50% - 50px) ; transform: scaleX(0.05); }
        70% { opacity: 1; }
        80% { width: 10vw; left: calc(50% - 50px) ; transform: scaleX(0.05); opacity: 0; }
        100% { width: 0vw; opacity: 0; }
        
        
        
        
    }

}
.main-cont {
    height: 100vh;
    width: 100%;
    &.white {
        background: var(--white);
    }
    &.black {
        background: var(--black);
    }
}

.main-txt {
    color: var(--white);
    font-family: var(--font-900);
    font-size: rem(110);
    position: absolute;
    left: 10%;
    top: rem(190);
    width: rem(1000);
    height: rem(300);
    @include mobile() {
        font-size: rem(48);
        left: rem(24);
        top: rem(140)
    }
    @include mobile-sm() {
        font-size: rem(48);
        left: rem(24);
    }
    span {
        // &.hidden {
        //     animation: hiddenTxt 0.5s linear 0.5s forwards;
        // }
        span{
            opacity: 0;
            &.strok {
                @include txtStrok;
            }
        }
        
    }
}
.strok {
    @include txtStrok;
}
.main-slogan {
    color: var(--white);
    font-family: var(--font-mon-300);
    font-size: rem(250);
    width: rem(4000);
    position: absolute;
    top: rem(500);
    left: rem(650);
    transition: all 7s ease-in-out;
    &.move {
        transform: translateX(-150%);
    }
    span {
        font-family: var(--font-mon-300);
        color: #808080;
        span {
            opacity: 0;
            &.bold {
                color: var(--white);
                font-family: var(--font-mon-500);
            }
        }
    }
    @include mobile() {
        font-size: rem(200);
        top: rem(400);
        width: rem(3000);
        left: 50%
    }
    @include mobile-sm() {
        font-size: rem(100);
        top: rem(350);
        left: 50%;
        width: rem(1500);
    }
}

@keyframes charAnim {
	0% {opacity:0;}
	35% {opacity:1;}
    60% {opacity:0.5;}
	100% {opacity:0.9;}
}

@keyframes hiddenTxt {
	0% {opacity:1;}
	100% {opacity:0; width: 0;}
}

.moving-line {
    height: rem(15);
    width: 0;
    background: linear-gradient(90deg, rgba(97,58,255,1) 0%, rgba(209,102,255,1) 100%);
    position: absolute;
    top: rem(380);
    left: 710px;
    animation: lineMove 1s ease-in-out 8s forwards;
    @include mobile() {
        top: rem(265);
        height: rem(10);
        left: rem(24);
    }
    @include mobile-sm() {
        height: rem(10);
        top: rem(265);
        left: rem(24);
    }
}

@keyframes lineMove {
	0% {width:0;}
	100% {width: calc(90% - rem(700));}
}
@include mobile() {
    @keyframes lineMove {
        0% {width:0;}
        100% {width: calc(100% - rem(48));}
    }
}
@include mobile-sm() {
    @keyframes lineMove {
        0% {width:0;}
        100% {width: calc(100% - rem(48));}
    }
}

.main-desc {
    position: absolute;
    top: rem(520);
    left: 710px;
    right: 10vw;
    @include mobile() {
        top: rem(297);
        left: rem(24);
        right: rem(24);
    }
    @include mobile-sm() {
        top: rem(297);
        left: rem(24);
        right: rem(24);
    }
    .desc-title {
        color: var(--white);
        font-family: var(--font-700);
        font-size: rem(60);
        line-height: 1.2;
        & + .desc-cont {
            margin-top: rem(24);
        }
        span {
            span {
                opacity: 0;
            }
        }
        
        @include mobile-sm() {
            font-size: rem(32);
        }
    }
    .desc-cont {
        color: #ccc;
        font-family: var(--font-400);
        font-size: rem(24);
        line-height: 1.5;
        span {
            span {
                opacity: 0;
            }
        }
        & + .btn-wrap {
            margin-top: rem(48);
        }

        @include mobile-sm() {
            font-size: rem(14);
        }
    }
}


.copyright{
    font-family: var(--font-300);
    font-size: rem(18);
    position: absolute;
    bottom: rem(50);
    left: rem(200);
    color: rgba(#fff, 0.5);
    @include mobile() {
        bottom: rem(24);
        left: rem(24);
        font-size: rem(12);
    }
    @include mobile-sm() {
        bottom: rem(24);
        left: rem(24);
        font-size: rem(14);
    }
    &.sub {
        position: relative;
    }
}

.btn-wrap {
    &.fade {
        opacity: 0;
        animation: fade 0.5s ease-in-out 15s forwards;
    }
    .btn-typeA {
        background: #613AFF;
        border-radius: 100px;
        color: var(--white);
        font-family: var(--font-700);
        padding: rem(14) rem(32);
    }
}
.btn-typeA {
    background: #613AFF;
    border-radius: 100px;
    color: var(--white);
    font-family: var(--font-700);
    padding: rem(14) rem(32);
    &.off {
        background: #1B1A1D;
    }
}

@keyframes fade {
	0% {opacity:0;}
	35% {opacity:1;}
    60% {opacity:0.5;}
	100% {opacity:0.9;}
}




.aboutus-cont {
    &.slogan {
        height: 736px;
        position: relative;
        z-index: 99;
        @include mobile() {
            height: 400px;
        }
        @include mobile-sm() {
            height: 400px;
            
        }
        @include mobile-exsm(){
            height: 380px;
        }
        .slogan-box {
            color: var(--white);
            font-size: rem(100);
            font-family: var(--font-700);
            position: absolute;
            left: 10%;
            top: 200px;
            width: 1050px;
            @include mobile() {
                font-size: rem(40);
                top: rem(120);
                left: rem(24);
            }
            @include mobile-sm() {
                font-size: rem(40);
                left: rem(24);
                top: rem(120);
                
            }
            span {
                span {
                    opacity: 0;
                }
            }
        }
        .text-box {
            color: rgba($color: #fff, $alpha: 0.8);
            font-size: rem(24);
            font-family: var(--font-400);
            position: absolute;
            right: 10%;
            bottom:-6vh;
            line-height: 1.5;
            word-break: keep-all;
            width: 752px;
            @include mobile() {
                font-size: rem(14);
                width: 90vw;
                bottom: -20px;
                left: rem(24);
            }
            @include mobile-sm() {
                font-size: rem(14);
                width: 90vw;
                bottom: -40px;
                left: rem(24);
            }
        }
    }
    &.video {
        height: auto;
        overflow: hidden;
        position: relative;
        @include mobile() {
            height: auto;
        }
        @include mobile-sm() {
            height: auto;
        }
        .dimm {
            background-color: rgba($color: #000000, $alpha: 0.55);
            height: 100%;
            width: 100%;
            position: absolute;
            left:0;
            top:0
        }
    }
    &.service {
        position: relative;
        z-index: 999;
        padding-bottom: 100px;
        .service-title {
            color: var(--white);
            font-size: rem(100);
            font-family: var(--font-700);
            padding-left: 10vw;
            margin-top: rem(-60);
            @include mobile() {
                padding-left: 24px;
                font-size: rem(40);
            }
            @include mobile-sm() {
                padding-left: 24px;
                font-size: rem(40);
                margin-top: rem(-30);
            }
            span{
                @include txtStrok;
            }
        }
        .service-desc {
            color: var(--gray-800);
            font-size: rem(24);
            font-family: var(--font-500);
            padding-left: 10vw;
            margin-top: 100px;
            width: 45vw;
            @include mobile() {
                margin-top: 5vh;
                width: 100%;
                padding-left: rem(24);
                padding-right: rem(24);
                font-size: rem(14);
            }
            @include mobile-sm() {
                margin-top: 3vh;
                width: 100%;
                padding-left: rem(24);
                padding-right: rem(24);
                font-size: rem(14);
            }
            .btn-wrap {
                margin-top: rem(50);
            }
        }
        .service-type-wrap {
            display: flex;
            justify-content: flex-end;
            padding-right: 10vw;
            margin-top: -13vh;
            @include mobile() {
                padding: 0 24px;
                margin-top: -10vh;
            }
            @include mobile-sm() {
                padding: 0 24px;
                margin-top: -10vh;
            }
            .service-type {
                display: flex;
                align-items: center;
                width: 1000px;
                flex-wrap: wrap;
                gap: 10px;
                @include mobile() {
                    width: auto;
                }
                @include mobile-sm() {
                    width: auto;
                }
                .service-type-item {
                    background-color: #1B1A1D;
                    border-radius: 50px;
                    height: 400px;
                    width: 493px;
                    padding: 48px;
                    position: relative;
                    @include mobile() {
                        width: 100%;
                        height: 120px;
                        border-radius: 20px;
                    }
                    @include mobile-sm() {
                        width: 100%;
                        height: 120px;
                        border-radius: 20px;
                        padding: 20px;
                    }
                    &.none {
                        background:none;
                    }
                    &.service01:before {
                        content:'';
                        display: block;
                        height: 134px;
                        width: 151px;
                        background: url(../img/service01.png) no-repeat 0 0;
                        background-size: 100%;
                        position: absolute;
                        right:50px;
                        bottom: 50px;
                        @include mobile() {
                            height: 72px;
                            width: 75px;
                            right:20px;
                            bottom: 20px;
                        }
                        @include mobile-sm() {
                            height: 72px;
                            width: 75px;
                            right:20px;
                            bottom: 20px;
                        }
                    }
                    &.service02:before {
                        content:'';
                        display: block;
                        height: 190px;
                        width: 160px;
                        background: url(../img/service02.png) no-repeat 0 0;
                        background-size: 100%;
                        position: absolute;
                        right:50px;
                        bottom: 50px;
                        @include mobile() {
                            height: 88px;
                            width: 72px;
                            right:20px;
                            bottom: 20px;
                        }
                        @include mobile-sm() {
                            height: 88px;
                            width: 72px;
                            right:20px;
                            bottom: 20px;
                        }
                    }
                    &.service03:before {
                        content:'';
                        display: block;
                        height: 137px;
                        width: 143px;
                        background: url(../img/service03.png) no-repeat 0 0;
                        background-size: 100%;
                        position: absolute;
                        right:50px;
                        bottom: 50px;
                        @include mobile() {
                            height: 72px;
                            width: 72px;
                            right:20px;
                            bottom: 20px;
                        }
                        @include mobile-sm() {
                            height: 72px;
                            width: 72px;
                            right:20px;
                            bottom: 20px;
                        }
                    }
                    h3{
                        color: var(--white);
                        font-size: rem(32);
                        font-family: var(--font-700);
                        @include mobile-sm() {
                            font-size: rem(20);
                        }
                    }
                }
            }
        }
        
    }

}

.ex-top{
    width: 100%;
    margin-top: 20vh;
    position: relative;
    @include mobile() {
        margin-top: 15vh;
    }
    @include mobile-sm() {
        margin-top: 15vh;
    }   
    .ex-top-slogan {
        color: var(--white);
        font-size: rem(100);
        font-family: var(--font-700);
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 99;
        @include mobile() {
            font-size: rem(40);
        }
        @include mobile-sm() {
            font-size: rem(40);
        }   
        span {
            @include txtStrok;
        }  
    }
    .ex-top {
        .ex-top-item.item01{
            background: url(../img/exp/top/01.png) no-repeat 0 0;
        }
        .ex-top-item.item02{
            background: url(../img/exp/top/02.png) no-repeat 0 0;
        }
        .ex-top-item.item03{
            background: url(../img/exp/top/03.png) no-repeat 0 0;
        }
        .ex-top-item.item04{
            background: url(../img/exp/top/04.png) no-repeat 0 0;
        }
        .ex-top-item.item05{
            background: url(../img/exp/top/05.png) no-repeat 0 0;
        }
        .ex-top-item.item06{
            background: url(../img/exp/top/01.png) no-repeat 0 0;
        }
        .ex-top-item.item07{
            background: url(../img/exp/top/02.png) no-repeat 0 0;
        }
    }
    .ex-mid {
        .ex-top-item.item01{
            background: url(../img/exp/mid/01.png) no-repeat 0 0;
        }
        .ex-top-item.item02{
            background: url(../img/exp/mid/02.png) no-repeat 0 0;
        }
        .ex-top-item.item03{
            background: url(../img/exp/mid/03.png) no-repeat 0 0;
        }
        .ex-top-item.item04{
            background: url(../img/exp/mid/04.png) no-repeat 0 0;
        }
        .ex-top-item.item05{
            background: url(../img/exp/mid/05.png) no-repeat 0 0;
        }
        .ex-top-item.item06{
            background: url(../img/exp/mid/06.png) no-repeat 0 0;
        }
        .ex-top-item.item07{
            background: url(../img/exp/mid/01.png) no-repeat 0 0;
        }
    }
    .ex-bottom {
        .ex-top-item.item01{
            background: url(../img/exp/bottom/01.png) no-repeat 0 0;
        }
        .ex-top-item.item02{
            background: url(../img/exp/bottom/02.png) no-repeat 0 0;
        }
        .ex-top-item.item03{
            background: url(../img/exp/bottom/03.png) no-repeat 0 0;
        }
        .ex-top-item.item04{
            background: url(../img/exp/bottom/04.png) no-repeat 0 0;
        }
        .ex-top-item.item05{
            background: url(../img/exp/bottom/05.png) no-repeat 0 0;
        }
        .ex-top-item.item06{
            background: url(../img/exp/bottom/01.png) no-repeat 0 0;
        }
        .ex-top-item.item07{
            background: url(../img/exp/bottom/02.png) no-repeat 0 0;
        }
    }
    .ex-top-box, .ex-top-box2, .ex-top-box3 {
        width: 2540px;
        display: flex;
        flex-wrap: wrap;
        @include mobile() {
            width: 100%;
        }
        @include mobile-sm() {
            width: 100%;
            
        }  
        .ex-top-item {
            //background: rgba($color: #d9d9d9, $alpha: 0.2);
            background-size: 100% !important;
            border-radius: 30px;
            height: 270px;
            width: 420px;
            @include mobile() {
                width: 420px;
                font-size: rem(40);
                border-radius: 10px;
            }
            @include mobile-sm() {
                width: 147px;
                height: 95px;
                border-radius: 10px;
            }  
            & + .ex-top-item {
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
    }

    
}

.ex-cont {
    padding: 10vh 10vw;
    @include mobile() {
        padding: 24px;
    }
    @include mobile-sm() {
        padding: 24px;
    }  
    h2 {
        color: var(--white);
        font-size: rem(100);
        font-family: var(--font-700);
        @include mobile() {
            font-size: rem(40);
        }
        @include mobile-sm() {
            font-size: rem(40);
        }  
        span {
            @include txtStrok;
        }
    }
    .ex-cont-desc {
        color: var(--gray-800);
        font-size: rem(24);
        margin-top: 24px;
        @include mobile-sm() {
            font-size: rem(14);
        }  
    }
}
.tab-header {
    margin-top: 100px;
    white-space: nowrap;
    overflow-x: auto;
    @include mobile(){
        margin-top: 50px;
    }
    @include mobile-sm(){
        margin-top: 50px;
        margin: 50px -24px;
        padding: 0 24px;
    }
    .btn-typeA {
        &+ .btn-typeA {
            margin-left: 16px;
            @include mobile-sm() {
                margin-left: 5px;
                padding: rem(14) rem(20);
            }  
        }
    }
}
.tab-panel {
    margin-top: 72px;
    @include mobile(){
        margin-top: 30px;
    }
    @include mobile-sm(){
        margin-top: 30px;
    }
    li {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
        @include mobile() {
            padding: 20px 0;
        }
        @include mobile-sm() {
            padding: 20px 0;
            flex-wrap: wrap;
        }  
        .list-title {
            color: var(--white);
            font-size: rem(30);
            font-family: var(--font-500);
            @include mobile() {
                font-size: rem(16);
            }
            @include mobile-sm() {
                font-size: rem(16);
                width: 100%;
            }  
        }
        .list-date {
            color: var(--white);
            font-size: rem(24);
            font-family: var(--font-500);
            @include mobile() {
                font-size: rem(14);
            }
            @include mobile-sm() {
                font-size: rem(14);
                margin-top: rem(8);
            }  
        }
    }
    
}

.contact-cont {
    padding: 20vh 10vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include mobile() {
        padding: 15vh 24px;
    }
    @include mobile-sm() {
        padding: 15vh 24px 8vh;
    }
    .contact-slogan {
        color: var(--white);
        font-size: rem(100);
        font-family: var(--font-700);
        width: 100%;
        @include mobile() {
            font-size: rem(40);
        }
        @include mobile-sm() {
            font-size: rem(40);
        }
        span {
            @include txtStrok;
        }
    }
    .text-box {
        color: var(--gray-800);
        font-size: rem(24);
        font-family: var(--font-500);
        margin-top: 10vh;
        line-height: 1.5;
        width: 50%;
        margin-right: 2vw;
        @include mobile() {
            margin-top: 4vh;
            font-size: rem(14);
        }
        @include mobile-sm() {
            margin-top: 4vh;
            font-size: rem(14);
        }
    }
    .contact-info {
        color: var(--white);
        font-family: var(--font-500);
        margin-top: 10vh;
        
        @include mobile() {
            margin-top: 7vh;
            margin-left: 0;
        }
        @include mobile-sm() {
            margin-top: 7vh;
            margin-left: 0;
        }
        .info-box {
            & + .info-box {
                margin-top: 32px;
            }
            .title {
                font-size: rem(13);
                color: #808080;
                display: block;
            }
            .info {
                font-size: rem(30);
                display: block;
                margin-top: 6px;
            }
        }
        
    }
}
.map-area {
    background: url(../img/map.png) no-repeat 50% 50%;
    background-size: cover;
    height: 800px;
    margin-bottom: 10vh;
    @include mobile() {
        height: 420px;
    }
    @include mobile-sm() {
        height: 420px;
    }
}
.mo-br{
    display: none;
}
.mobile{
    .mo-br {
        display: block;
    }
}



